.header-background {
  background-color: black;
}

.ui.borderless.menu{
  color: white;
  background-color: gray;
  border: none;
  box-shadow: none;
}
.ui.grid{
  color: red;
  font-size: 11px;
  text-align: center;
}
.ui.segment{
  color: red;
  border: none;
  box-shadow: none;
}